@charset "utf-8";
@import "normalize-scss";
@import "fonts";
@import "global";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
  font: normal normal 100%/1.6 $font-sans;
  color: $color-text;
}

a {
  color: $color-text-highlight;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    color: darken($color-text-highlight, 10%);
  }
}

code, pre {
  font-size: 1rem;
  background: $color-pale-gray;
  border: 1px solid $color-light-gray;
  border-radius: 2px;
  padding: 0 #{$spacing-unit / 8};
}

pre {
  padding: $spacing-unit / 16 $spacing-unit / 4;
}
